@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /******************** Primary  ***********************/

    --Lime-Green: hsl(163, 72%, 41%);
    --Bright-Red: hsl(356, 69%, 56%);
    --Facebook: hsl(208, 92%, 53%);
    --Twitter: hsl(203, 89%, 53%);
    --Instagram: linear-gradient(to right(hsl(37, 97%, 70%) to hsl(329, 70%, 58%)));
    --YouTube: hsl(348, 97%, 39%);

    /******************* Dark Theme  *************************/

    --Dark-Theme-Toggle: linear-gradient(to right, hsl(210, 78%, 56%) to hsl(146, 68%, 55%));

    /******************* Light  *********************************/

    --Light-Theme-Toggle: hsl(230, 22%, 74%);

    /****************** Dark Theme  ****************************/
    --Very-Dark-Blue-BG: hsl(230, 17%, 14%);
    --Very-Dark-Blue-Top-BG-Pattern: hsl(232, 19%, 15%);
    --Dark-Desaturated-Blue-Card-BG: hsl(228, 28%, 20%);
    --Desaturated-Blue-Text: hsl(228, 34%, 66%);
    --White-Text: hsl(0, 0%, 100%);

    /****************** Light Theme  *************************/
    --White-BG: hsl(0, 0%, 100%);
    --Very-Pale-Blue-Top-BG-Pattern: hsl(228, 100%, 98%);
    --Light-Grayish-Blue-Card-BG: hsl(228, 50%, 96%);
    --Dark-Grayish-Blue-Text: hsl(229, 12%, 44%);
    --Very-Dark-Blue-Text: hsl(230, 17%, 14%);
    /******************* font Inter sans-serif ***************/
    --Font-Inter: "Inter", sans-serif;
}

body {
    background: var(--White-BG);
    font-family: var(--Font-Inter);
}

body {
    transition: background-color 0.5s, color 0.5s;
}

/* light and dark toggle styles start */
body.light-theme {
    background: var(--White-BG);
    color: var(--Dark-Grayish-Blue-Text);
}

body.dark-theme {
    color: var(--White-Text);
    background-color: var(--Very-Dark-Blue-BG);
}

.dark-theme label{
    background: linear-gradient(to right, hsl(210, 78%, 56%) to hsl(146, 68%, 55%));
}

.dark-theme .followers-box {
    background-color: var(--Dark-Desaturated-Blue-Card-BG);
    color: var(--White-Text);
}

.dark-theme .followers-box:hover{
    background-color: hsl(229, 28%, 27%);
}

.dark-theme .overview-container h2{
    color: var(--White-Text);
}

.dark-theme .overview-box{
    background-color: var(--Dark-Desaturated-Blue-Card-BG);
    color: var(--White-Text);
}

.dark-theme .overview-box:hover {
    background-color: hsl(229, 28%, 27%);
}

/* light and dark toggle styles end */

.grid-container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.grid-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grid-row h2 {
    position: relative;
    top: 2rem;
    left: 4rem;
}

.grid-row p {
    color: var(--Dark-Grayish-Blue-Text);
    font-weight: 600;
    margin-top: 0.3rem;
    position: relative;
    top: 2rem;
    left: 4rem;
}

.divider {
    display: none;
    width: 326px;
    height: 1px;
    background-color: #848BAB;
    position: relative;
    left: 2rem;
}

/* toggle and theme color switcher start */

.toggle-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    right: 3rem;
    top: 1.5rem;
}

.toggle-container label {
    background-color: var(--Light-Theme-Toggle);
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    margin: 0 10px;
    position: relative;
    height: 30px;
    width: 60px;
}

.toggle-container span {
    color: var(--Desaturated-Blue-Text);
    font-weight: 600;
}

label:hover{
    background: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
}

.dark-theme label{
    background: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
}

.toggle-container label .toggle-ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2.5px;
    left: 33.5px;
    height: 25px;
    transition: transform 0.4s ease;
    width: 25px;
}

.toggle-container input:checked+label .toggle-ball {
    transform: translateX(-30px);
}

.dark-theme {
    background-color: var(--Very-Dark-Blue-BG);
}

.light-theme {
    background-color: var(--White-BG);
}

/* toggle and theme color switcher start */

/* .toggle-ball {} */

.grid-followers-container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.grid-followers-row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
}

.grid-followers-row h1 {
    font-size: 3rem;
    margin-top: 0.6rem;
}

.followers-box small {
    color: var(--Lime-Green);
    position: relative;
    top: 3rem;
    font-weight: 600;
}

.followers-box p{
    color: var(--Desaturated-Blue-Text);
    font-weight: 600;
}

.followers-box p.followers-text{
    letter-spacing: 5px;
    font-weight: 500;
    color: var(--Desaturated-Blue-Text);
    font-size: 14px;
    text-align: center;
}

.followers-youtube small {
    color: var(--Bright-Red);
}

.followers-box {
    position: relative;
    width: 255px;
    height: 216px;
    padding: 20px;
    background-color: var(--Light-Grayish-Blue-Card-BG);
    border-radius: 5px;
    overflow: hidden;
    margin: 20px;
    text-align: center;
}

.followers-box.light-theme{
    background-color: var(--Light-Grayish-Blue-Card-BG);
    color: var(--Dark-Grayish-Blue-Text);
}

.followers-box.dark-theme {
    background-color: var(--Dark-Desaturated-Blue-Card-BG);
}

.followers-box:hover {
    background-color: hsl(229, 32%, 87%);
    cursor: pointer;
}

.followers-facebook {
    border-top: 4px solid var(--Facebook);
}

.followers-twitter {
    border-top: 4px solid var(--Twitter);
}

.followers-instagram::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    /* Adjust the thickness of the border */
    background: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
}

.followers-youtube {
    border-top: 4px solid var(--YouTube);
}

.overview-container {
    margin: 1rem 2rem 0 4.5rem;
}

.overview-container h2 {
    color: var(--Dark-Grayish-Blue-Text);
}

.overview-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

/* overview style section start */
.overview-box {
    background: var(--Light-Grayish-Blue-Card-BG);
    width: 255px;
    height: 125px;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    margin: 1rem 0rem;
    padding: 1rem 0rem;
}

.overview-box p{
    color: var(--Desaturated-Blue-Text);
    font-weight: 600;
}

input {
    display: none;
}

.overview-box:hover {
    background-color: hsl(229, 32%, 87%);
    cursor: pointer;
}


.overview-box h3 {
    font-size: 2rem;
    position: relative;
    top: 2rem;
}

.overview-box .icon-social {
    position: relative;
    left: 2.5rem;
    top: 0.6rem;
}

.overview-box small {
    position: relative;
    top: 3.5rem;
}

.overview-facebook small {
    color: var(--Lime-Green);
}

.facebook-down small {
    color: var(--Bright-Red);
}

.overview-instagram small {
    color: var(--Lime-Green);
}

.overview-twitter small {
    color: var(--Lime-Green);
}

.overview-youtube small {
    color: var(--Bright-Red);
}

/* overview style section end */

@media(max-width: 37.5rem) {

    .grid-row {
        flex-direction: column;
    }

    .grid-row h2 {
        /* position: relative; */
        right: 0;
        left: -18px;
    }

    .grid-row p {
        /* position: relative; */
        right: 0;
        left: -18px;
    }

    /* .grid-row h2,
    p {
        text-align: center;
        left: 0;
    } */

    .divider {
        left: 0;
        display: block;
        position: relative;
        top: 2rem;
    }

    .toggle-container {
        right: 0rem;
        top: 3rem;
        gap: 150px;
    }

    .grid-followers-row {
        flex-direction: column;
        gap: 20px;
    }

    .overview-container {
        margin: 1rem 2rem 0 1.5rem;
    }

    .overview-row {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .overview-box {
        width: 326px;
        height: 125px;
    }

    .followers-box {
        width: 20.5rem;
        height: 216px;
    }
}